@font-face{
	font-family: "Roboto-Regular";
	src: url(fonts/Roboto-Regular.ttf);
}
@font-face{
	font-family: "Roboto-Light";
	src: url(fonts/Roboto-Light.ttf);
}
@font-face{
	font-family: "CourierNewPSMT";
	src: url(fonts/cour.ttf);
}
html{
	padding: 0;
	margin: 0;
}
body{
	margin: 0;
	padding: 0;
	background-image: url(img/bg.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-color: #050714;
}
.logo svg{
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	height: 110px;
}
@media only screen and (max-width: 767px) {
	body {
		background-image: url(img/bg-min.jpg);
	}
	.logo svg{
		width: 85%;
		height: auto;
	}
}