:root {
	--main-color: #eee;
	--main-color-darker: #adadb3;
}

@font-face {
	font-family: "Roboto";
	font-weight: 300;
	src: url(fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: "Roboto";
	src: url(fonts/Roboto-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: "VT323";
	src: url(fonts/VT323-Regular.ttf);
	font-weight: 400;
}

* {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
	padding-left: 16px;
	color: var(--main-color);
	background: url(img/bg.jpg) no-repeat center top fixed, #050714;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
	font-family: 'Roboto';
}

.logo {
	position: absolute;
	top: 16px;
	left: 16px;
	font-size: 32px;
}

.subtitle {
	font-size: 48px;
	margin-bottom: 16px;
}

.text {
	font-size: 24px;
	margin-bottom: 8px;
}

.list {
	list-style-type: none;
}

.list__item {
	display: flex;
	align-items: center;
	margin-bottom: 2px;
	/* white-space: nowrap; */
}

.list__item:last-child {
	margin-bottom: 0;
}

.list__title {
	margin-right: 8px;
}

.list__btn {
	margin-right: 4px;
	font-size: 18px;
	font-family: "VT323", monospace;
	color: var(--main-color-darker);
	transition: color .3s ease;
}

.list__btn:hover {
	color: var(--main-color);
}

.list__btn i {
	position: relative;
	font-style: normal;
}

.list__btn i:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	opacity: 0;
	transform: translateY(2px);
	transition: all .2s ease;
}

.list__btn:hover i:after{
	opacity: 1;
	transform: translateY(0);
}

.copy {
	display: block;
	position: relative;
	transition: opacity .3s ease;
	user-select: none;
	cursor: pointer;
}

.copy__anim {
	position: absolute;
	top: 0;
	left: 0;
	animation: copied 0.5s forwards ease-in-out;
}
.copy__hidden {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

@keyframes copied {
  0% { 
    opacity: .8;
		transform: translate(0, 0);
  } 100% { 
    opacity: 0;
		transform: translate(0, -25px);
  }
}
