@font-face{
	font-family: "Roboto-Regular";
	src: url(fonts/Roboto-Regular.ttf);
}
@font-face{
	font-family: "Roboto-Light";
	src: url(fonts/Roboto-Light.ttf);
}
@font-face{
	font-family: "CourierNewPSMT";
	src: url(fonts/cour.ttf);
}
*{
	height: 100%;
	padding: 0;
	margin: 0;
}
body{
	height: 100%;
	background: url(img/bg.jpg) no-repeat center top fixed, #050714;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
}
.logo svg{
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	height: 110px;
}
@media only screen and (max-width: 767px) {
	body {
		background-image: url(img/bg-min.jpg);
	}
	.logo svg{
		width: 85%;
		height: auto;
	}
}