.navigation_wrapper{
  width: 720px;
  text-align: center;
  float: left;
  padding-top: 27px;
}
.navigation{
  text-align: center;
}
.navigation__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 28px;
}
.navigation__item:last-child{
  margin-right: 0;
}
.navigation__link{
  color: #fff;
  letter-spacing: 1.2px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: bold;
}
.navigation__item:hover .navigation__link{
  color: #f89513;
  transition: all 0.2s ease-out;
}
.navigation__item--active .navigation__link{
  color: #f89513;
  pointer-events: none;
}
.navigation__link:before{
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 20px;
}
.navigation__link:before:hover{
  transition: all 1s ease-out;
}
.main-icon:before{
  content: url('../../img/main-icon.svg');
}
.reviews-icon:before{
  content: url('../../img/reviews-icon.svg');
}
.services-icon:before{
  content: url('../../img/services-icon.svg');
}
.navigation__item--active .main-icon:before{
  content: url('../../img/main-icon-hover.svg');
}
.navigation__item--active .reviews-icon:before{
  content: url('../../img/reviews-icon-hover.svg');
}
.navigation__item--active .services-icon:before{
  content: url('../../img/services-icon-hover.svg');
}
.navigation__item:hover .main-icon:before{
  content: url('../../img/main-icon-hover.svg');
}
.navigation__item:hover .reviews-icon:before{
  content: url('../../img/reviews-icon-hover.svg');
  
}
 .navigation__item:hover .services-icon:before{
  content: url('../../img/services-icon-hover.svg');
}