@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');
@font-face{
  font-family: 'Bebas neue';
  src: url('fonts/BebasNeue-Regular.ttf')
}
*{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
b{
  font-weight: bold;
}
li{
  list-style-type: none;
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}
.block-name{
  text-align: center;
  font-size: 49px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-top: 54px;
  padding-bottom: 55px;
  font-weight: 700;
}
.color-white{
  color: #fff;
}
.wrapper{
  margin: 0 auto;
  min-width: 1100px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  font-family: 'Open Sans', 'Roboto', sans-serif;
}
.container{
  width: 1100px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
.non-click{
  pointer-events: none;
}
/* ---------- Header ---------- */
header{
  min-width: 1100px;
  height: 75px;
  background-color: #131415;
}
.header__logo{
  width: 160px;
  display: inline-block;
  float: left;
}
.logo{
  width: 160px;
  height: 75px;
}
.header__nav{
  width: 720px;
  display: inline-block;
  text-align: center;
  float: left;
  padding-top: 27px;
}
.header__navigation{
  text-align: center;
  display: inline-block;
}
.navigation__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 28px;
}
.navigation__item:last-child{
  margin-right: 0;
}
.navigation__link{
  display: inline-block;
  color: #fff;
  letter-spacing: 1.2px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: bold;
}
.navigation__item:hover .navigation__link{
  color: #f89513;
  transition: all 0.2s ease-out;
}
.is-active{
  color: #f89513!important;
}
.nav-icon{
  width: 19px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.main-icon{
  background-image: url(/img/main-icon-hover.svg);
}
.reviews-icon{
  background-image: url(img/reviews-icon.svg);
}
.services-icon{
  background-image: url(/img/services-icon.svg);
}
.main-icon{
  display: inline-block;
  list-style-type: circle;
  list-style-image: url(/img/main-icon.svg);
}
.navigation__item:hover .reviews-icon{
  background-image: url(/img/reviews-icon-hover.svg);
  transition: all 0.2s ease-out;
}
.navigation__item:hover .services-icon{
  background-image: url(/img/services-icon-hover.svg);
  transition: all 0.2s ease-out;
}
.header__about{
  float: right;
  display: inline-block;
  text-align: right;
  width: 175px;
  vertical-align: middle;
  padding-top: 16px;
}
.header__phone{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 2px;
  display: block;
}
.header__phone:hover{
  text-decoration: underline;
}
.header__time{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #f89513;
  text-decoration: underline;
  cursor: pointer;
}
.header__time:hover{
  color: rgba(255, 255, 255, .7);
  transition: all 0.2s ease-out;
}
.header__time:hover+.header__time-block{
  display: block;
}
.header__time-block{
  display: none;
  font-size: 14px;
  text-align-last: left;
  margin-top: 12px;
  position: relative;
  height: 35px;
  width: 150px;
  border-radius: 5px;
  padding: 20px 0 25px 20px;
  font-family: 'Open Sans';
  background: #fff;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.header__time-block::before{
  content: '';
  position: absolute;
  right: 0;
  top: -19px;
  border: 10px solid transparent;
  border-bottom: 12px solid #fff;
}
.header__work{
  position: relative;
  margin-bottom: 5px;
  color: #f89513;
  font-weight: bold;
}
.header__do-not-work{
  position: relative;
  color: #221f1f;
  font-weight: lighter;
}
/* ---------- Banner ---------- */
.banner{
  min-width: 1100px;
  background-image: url(./img/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 623px;
}
/* ---------- Features ---------- */
.features{
  min-width: 1100px;
  background-color: #131415;
  padding-bottom: 97px;
  margin: auto;
  text-align: center;
}
.features__name{
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  letter-spacing: 2.6px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}
.features__item{
  list-style-type: disc;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  line-height: 34px;
  list-style-position: inside;
}
.features__block{
  width: 195px;
  display: inline-block;
  margin-right: 70px;
  vertical-align: top;
}
.features__block:last-child{
  margin-right: 0;
}
.features__icon-wrapper{
  margin: 0 auto;
  background-color: #f89513;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  overflow: hidden;
  margin-bottom: 42px;
}
.features__icon{
  height: 31px;
  padding: 19px 0;
}
.features__text{
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  margin-bottom: 4px;
}
.features__list{
  color: #fff;
  text-align: left;
}
/* ---------- News ---------- */
.news{
  margin-bottom: 50px;
}
.news__left{
  width: 900px;
  float: left;
}
.news__post{
  float: left;
  margin: 40px 0 0 0;
}
.news__post:first-child{
  margin: 0;
}
.news__post::after{
  content: '';
  margin-top: 30px;
  width: 820px;
  height: 2px;
  background: #f5f5f5;
  float: left;
}
.news__post:last-child::after{
  content: none;
}
.news__delimiter{
  border: none;
  height: 2px;
  background: #f5f5f5;
  margin-bottom: 29px;
  margin-top: 24px;
  width: 830px;
}
.news__image{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  float: left;
}
.news__pic{
  width: 160px;
  border-radius: 50%;
  float: left;
}
.news__content{
  float: left;
  width: 700px;
  margin-left: 21px;
}
.news__date{
  font-family: 'Roboto', sans-serif;
  color: #412828;
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}
.news__name{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #221f1f;
  margin-bottom: 10px;
}
.news__text{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  line-height: 30px;
  font-size: 18px;
}
.news__top{
  width: 160px;
  float: right;
}
.top__name{
  font-family: 'Open Sans';
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
}
.top__month{
  font-family: 'Open Sans';
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: #656464;
  font-weight: bold;
  margin-bottom: 19px;
}
.top__image{
  opacity: 0.8;
  width: 160px;
  height: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}
.top__image:last-child{
  margin-bottom: 0;
}
.pagination{
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
}
.pagination__choised-page{
  font-family: 'Roboto';
  color: #656464;
  font-weight: lighter;
  font-size: 14px;
  display: inline-block;
}
.pagination__list{
  display: inline-block;
}
.pagination__item{
  display: inline-block;
  min-width: 25px;
  height: 25px;
  margin-right: 1px;
  border-radius: 5px;
}
.pagination__item:hover{
  background: #27273e;
  min-width: 25px;
  height: 25px;
  transition: all 0.3s ease-out;
}
.pagination__item:hover .pagination__link{
  color: #fff;
  transition: all 0.2s ease-out;
}
.pagination__item:first-child:hover{
  background: none;
}
.pagination__active{
  background: #27273e;
  min-width: 25px;
  height: 25px;
  border-radius: 5px;
}
.pagination__link{
  height: 25px;
  padding: 3px 8px;
  line-height: 25px;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #221f1f;
  text-decoration: none;
}
.pagination__active .pagination__link{
  color: #fff;
}
.pagination__opacity{
  opacity: 0.3;
}
.pagination img{
  height: 10px;
}
.paginator__arrow{
  height: 10px;
  fill: none;
  stroke: #231F20;
  stroke-width: 3;
  stroke-linecap: square;
  stroke-miterlimit: 10;
}
.paginator__arrow-left{
  stroke: rgba(0, 0, 0, .3);
}
.pagination__item:hover .paginator__arrow-right{
  stroke: #fff;
}
/* ---------- Footer ---------- */
footer{
  background: #131415;
  height: 90px;
  min-width: 1100px;
  overflow: hidden;
}
.footer__loftschool{
  width: 250px;
  display: inline-block;
  float: left;
  padding: 13px 0;
  line-height: 17px;
}
.footer__loftschool-text{
  color: #fff;
  font-family: 'Open Sans';
  font-weight: lighter;
  font-size: 14px;
}
.footer__loftschool-link{
  font-weight: bold;
  text-decoration: underline;
  color: #fff;
}
.footer__logo{
  display: inline-block;
  margin: 0 auto;
  width: 560px;
  text-align: center;
  height: 80px;
  overflow: hidden;
}
.footer__social{
  vertical-align: middle;
  width: 250px;
  float: right;
  padding: 10px 0;
}
.footer__social-text{
  color: #fff;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  margin-bottom: 10px;
}
.footer__social_list{
  float: right;
}
.footer__social_item{
  text-align-last: left;
  display: inline-block;
  text-align: center;
  margin-right: 7px;
}
.footer__social svg{
  fill: #d0d0d0;
  width: 20px;
}
.footer__social svg:hover{
  fill: #f89513;
  transition: all 0.4s ease-out;
}
.footer__social-item:last-child{
  margin-right: 0;
}
